.top {
  background-color: #1da1f2;
  height: 175px;
  padding: 20px;
  text-align: center;
}
.title{
  margin-top:-20px;
  color: white;
}
.logo{
  height: 175px;
  width: 175px;
  margin-top: -30px;
}


body{
  background-color: #e6ecf0;
}

